@model WebStore.DataLayer.Entities.User.User
@{
    ViewData["Title"] = "پایان ثبت نام";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">تاپ لرن</a></li>
            <li class="breadcrumb-item active" aria-current="page">پایان ثبت نام</li>
        </ul>
    </nav>
</div>

<div class="alert alert-success">
    <h2 class="text-info">@Model.UserName عزیز</h2>
    <p class="text-primary"> ثبت نام شما با موفقیت انجام شد. ایمیلی حاوی لینک فعالسازی به "@Model.UserEmail ارسال شد</p>
    <p class="text-primary"> جهت تکمیل ثبت نام به ایمیل مورد نظر رفته و بر روی لینک فعالسازی کلیک کنید </p>
</div>

